$color-base: #54D2D2;
$color-important: darken($color-base, 10%);
$color-warning: lighten($color-base, 10%);

$font-primary: 'poppins';
$secondary-font: 'comic sans ms';

$border-radius: 5px;

$box-shadow: 0 0 10px rgba(0, 0, 240, 0.5);