$color-base: #FF6150;
$color-important: darken($color-base, 10%);
$color-warning: lighten($color-base, 10%);

$font-primary: 'Arial';
$secondary-font: 'Lucida Bright';

$border-radius: 0px;

$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);